.go-back {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.2rem;
    float: left;
}

.sorting {
    font-size: 0.8rem;    
    margin: 0.2rem;
    float: right;
}

.button-grey {   
    width: 9rem; 
    height: 2rem;
    border: none;
    color: #F1F1F1;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    color: black;
    font-weight: bold;
  }

  .grid {
    font-size: 1.5rem;
    color: orangered;
    margin: 0.4rem;   
  }

  .list {
    font-size: 1.5rem;     
  }

  .combined-div {
    display: inline-flex;
    /* align-items: center; */
  }

  .items {
    display: inline-block;
    align-items: center;
  }

  .sidebar {
    width: 20rem;
    margin-right: 4rem;    
  }

